In [97]:
# import libraries
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [46]:
# read the dataset
df = pd.read_csv("../data/energydata_complete.csv")
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [7]:
# quick overview the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [8]:
# check missing values
df.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [17]:
# features and target
X = df["T2"].to_frame()
y = df["T6"]

In [23]:
# train a model
model = LinearRegression().fit(X, y)

In [24]:
# calculate r2_score
r2_score = r2_score(y, model.predict(X))
round(r2_score, 2)

0.64

In [56]:
# drop some columns
df_normalize = df.drop(columns=["date","lights"])

# normalize the datasets
scaler = MinMaxScaler()
df_normalized = pd.DataFrame(scaler.fit_transform(df_normalize), columns=df_normalize.columns)

target = "Appliances"

# vertical split the datasets.
X = df_normalized.drop(columns=target)
y = df_normalized[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [63]:
# train the model
model = LinearRegression().fit(X_train, y_train)

In [64]:
# predict the test set
y_predict = model.predict(X_test)

In [65]:
# calculate MAE
mae = mean_absolute_error(y_test, y_predict)
round(mae, 2)

0.05

In [70]:
# calculate the RSS
rss = np.sum(np.square(y_test - y_predict))
round(rss, 2)

45.35

In [74]:
# calculate the RMSE
rmse = mean_squared_error(y_test, y_predict, squared=False)
round(rmse, 3)

0.088

In [75]:
# coefficeint of determination
r2_score = r2_score(y_test, y_predict)
round(r2_score, 2)

0.15

In [88]:
coefficeint = model.coef_
features_name = X.columns

pd.Series(coefficeint, features_name).sort_values().to_frame()

                    0
RH_2        -0.456698
T_out       -0.321860
T2          -0.236178
T9          -0.189941
RH_8        -0.157595
RH_out      -0.077671
RH_7        -0.044614
RH_9        -0.039800
T5          -0.015657
T1          -0.003281
rv1          0.000770
rv2          0.000770
Press_mm_hg  0.006839
T7           0.010319
Visibility   0.012307
RH_5         0.016006
RH_4         0.026386
T4           0.028981
Windspeed    0.029183
RH_6         0.038049
RH_3         0.096048
T8           0.101995
Tdewpoint    0.117758
T6           0.236425
T3           0.290627
RH_1         0.553547

In [94]:
# Ridge model
ridge_model = Ridge(alpha=0.4).fit(X_train, y_train)

In [95]:
y_pred = ridge_model.predict(X_test)

In [96]:
mae = mean_absolute_error(y_test, y_pred)
round(mae, 2)

0.05

In [98]:
# Lasso Model
lasso_model = Lasso(alpha=0.001).fit(X_train, y_train)

In [106]:
weights = lasso_model.coef_
non_zero_feature = (weights != 0).sum()

4

In [107]:
# predict the test set
y_pred = lasso_model.predict(X_test)

In [108]:
# calculate RMSE
rmse = mean_squared_error(y_test, y_pred, squared=False)
round(rmse, 3)

0.094